/*  */

/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main Styling */
html {
  font-size: 10px;
}

body {
  background: #e5e5e5;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  min-width: 750px;
  margin: 0 auto;
}

.title {
  margin: 2%;
  text-align: center;
}

.text {
  height: 25vh;
  width: 100%;
  margin: 1%;
  padding: 1%;
  resize: none;
}

.info {
  margin: 1%;
}

.keyboard {
  width: 100%;
  margin: 1%;
  padding: 1%;
  border: 1px solid #b4b4b4;
  user-select: none;
}

.keyboard__row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboard__key {
  height: 40px;
  width: 40px;
  margin: 3px;
  border: 1px solid #b4b4b4;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.keyboard__key:hover {
  background: rgba(48, 48, 48, 0.2);
}

.keyboard__key_wide {
  width: 70px;
}

.keyboard__key_extra-wide {
  width: 80px;
}

.keyboard__key_ultra-wide {
  width: 210px;
}
